kagglehub
pandas
numpy
matplotlib
seaborn
python-dotenv
dotenv
langchain
sentence-transformers
langchain-community
langchain-openai
langchain-chroma
langchain_text_splitters
transformers
gradio
notebook
ipywidgets